body {
    margin: 0;
    font-family: 'Mukta', sans-serif;
    position: relative;
}

header {
    position: fixed; 
    width: 80%; 
    z-index: 1000;
    padding-top: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-height: 40px;
    padding-left: 10px;
}

.search-bar {
    flex: 4;
    margin: 0 20px;
    padding: 8px 15px; 
    border: 1px solid #0000;
    border-radius: 25px;
    margin-left: 10px;
}

.auth-links {
    margin-left: auto;
}

.profile-logo{
    width: 10px;
    height: 10px;
}

.log {
    margin-right: 10px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 20px; 
    border-radius: 25px; 
    background-color: #9ac51f; 
    transition: background-color 0.3s;
}

.nav{
    position: fixed;
}

.nav-links {
    list-style: none;
    padding-top: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

.nav-links li a:hover {
    color: #555;
}

.nav-links li img {
    width: 20px;
    height: auto; 
    margin-right: 5px; 
}

.create{
    position: relative;
    padding-top: 100px;
    padding-left: 250px;
}

.click{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 20px; 
    border-radius: 25px; 
    background-color: #9ac51f; 
    transition: background-color 0.3s;
}

.content {
    padding-top: 120px;
    padding-left: 250px;
}

.forza{
    border-radius: 30px;
    position: relative;
     width: 1000px;
    height: 150px; 
    overflow: hidden;
}

.forza img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.hub-name {
    display: inline-block;
}

.f-letter {
    font-weight: bold;
    color: black;
    background-color: #FFDEC0;
    padding: 2px 11px;
    border-radius: 50%;
    margin-right: 5px;
}

.container {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
}

.content {
    flex: 1;
    padding-right: 20px;
}

.sidebar {
    padding-top: 120px;
    width: 300px;
    padding-right: 60px;
}

.post {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.post h3 {
    margin-top: 0;
}

.post p {
    margin-bottom: 0;
}

.forza2{
    border-radius: 30px;
    position: relative;
     width: 280px;
    height: 150px; 
    overflow: hidden;
}

.forza2 img{
    position: absolute;
    top: 1%;
    left: 15%;
    transform: translate(-60%, -50%);
}

@keyframes heartBeat {
    0% { transform: scale(1); }
    25% { transform: scale(1.1); }
    50% { transform: scale(1); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.heart-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    transition: color 0.3s ease;
    margin-bottom: 10px;
}

.heart-button::before {
    content: "\2661";
}

.heart-button.clicked::before {
    content: "\2764";
    color: red;
    animation: heartBeat 0.5s ease;
}

.container2{
    margin-top: -350px;
}

.placement2{
    padding-left: 110px;
}

.container3{
    margin-top: -1300px;
    padding-top: 300px;
}

.comment-section {
    display: none;
}

.comment-section.active {
    display: block;
}

.comment-icon{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 20px; 
    border-radius: 25px; 
    transition: background-color 0.3s;
}

.username{
    text-decoration: none;
    font-family: 'Mukta', sans-serif;
}

.posts{
    padding-top: 120px;
    padding-left: 200px;
}
