<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/style2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Spot</title>
</head>
<body>
    <header>
        <div class="top-bar">
            <img src="static/pics/logo.png" alt="Spot Logo" class="logo">
            <input type="search" placeholder="Search hubs" class="search-bar">
            {% if user.is_authenticated %}
                <div class="profile">
                    <a href="{% url 'profile' %}" class="profile">
                        <img src="static/pics/user.png" width="30" height="30" alt="Profile Icon" class="profile-icon">
                        <span>{{ user.username }}</span>
                    </a>
                    <a href="{% url 'logout' %}" class="log">Logout</a>
                </div>
            {% else %}
                <a href="{% url 'index' %}" class="log">Login</a>
                <a href="{% url 'index' %}" class="log">Sign Up</a>
            {% endif %}
        </div>
        <nav class="nav">
            <ul class="nav-links">
                <li><a href="create_post.html" style="font-weight: bold; font-size:larger;">Create post</a></li>
                <br>
                <li><img src="static/pics/423483-200.png"><a href="main.html">Home</a></li>
                <li><img src="static/pics/fire-2.png"><a href="lit.html">Lit</a></li>
                <br>
                <p1>HUBS</p1>
                <br>
                <br>
                <li><img src="static/pics/game.png"><a href="games.html">Games</a></li>
                <li><img src="static/pics/ball.png"><a href="sports.html">Sports</a></li>
                <li><img src="static/pics/bit.png"><a href="crypto.html">Crypto</a></li>
                <li><img src="static/pics/car.png"><a href="cars.html">Cars</a></li>
                <li><img src="static/pics/health.png"><a href="health.html">Health</a></li>
                <li><img src="static/pics/meental.png"><a href="mental.html">Mental</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <div class="hub-name">
                    <span class="f-letter">G</span><h3 href="games.html">hub/games</h3>
                </div>
                <h1>League of Legends or Dota 2?</h1>
                <div class="forza">
                    <img src="static/pics/d22.JPG">
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text <br>ever since the 1500s,
                     when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries,<br>  but also the 
                     leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                     1960s with the release of Letraset<br>  sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker 
                     including versions of Lorem Ipsum</p>
            </div>
            
        
            <div class="sidebar">
                <p1 style="padding-left: 120px;">EVENTS</p1>
                <div class="post">
                    <span class="f-letter">e</span>event/Tournaments
                    <br><br>
                    <h3>Shadow Fiend 1x1</h3>
                    <div class="forza2">
                    <img src="static/pics/sf.jpg">
                </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="post">
                    <span class="f-letter">e</span>event/Tournaments
                    <br><br>
                    <h3>Dark Souls 3 speedrun</h3>
                    <div class="forza2">
                        <img src="static/pics/ds.jpg">
                    </div>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>