<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style2.css">
    <link rel="stylesheet" type="text/css" href="static/posts_in_hubs.css">
    <link rel="icon" type="image/x-icon" href="static/pics/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Lit Hub</title>
    <style>
        .post-interactions {
            display: flex;
            align-items: center;
            gap: 5px;
            padding-left: 15px;
        }
        
        .like-button{
            display: flex;
            padding: 0;
            background: none;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border: none;
            cursor: pointer;
        }
        
        .like-button img.zbs {
            margin-right: 5px; 
        }
        
        
        .posty{
            background-color: #f0f0f0;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 30px;
            width: 1500px;
            height: auto;
        }
        
        .posty .image{
            width: 1000px;
            height: 150px;
            object-fit: cover;
            object-position: center;
            display: block;
            border-radius: 30px;
        }
        .posty .zbs{
            width: 20px;
            height: 20px;
        }
        
        .posts{
        margin-bottom: 100px;
        }
    </style>
</head>
<body>
    <header>
        <div class="top-bar">
            <img src="static/pics/logo.png" alt="Spot Logo" class="logo">
            <input type="search" placeholder="Search hubs" class="search-bar">
            {% if user.is_authenticated %}
                <div class="profile">
                    <a href="{% url 'profile' %}" class="profile">
                        <img src="static/pics/profile-icon.png" alt="Profile Icon" class="profile-icon">
                        <span>{{ user.username }}</span>
                    </a>
                    <a href="{% url 'logout' %}" class="log">Logout</a>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="log">Login</a>
                <a href="{% url 'signup' %}" class="log">Sign Up</a>
            {% endif %}
        </div>
        <nav class="nav">
            <ul class="nav-links">
                <li><a href="create_post.html" style="font-weight: bold; font-size:larger;">Create post</a></li>
                <li><a href="create_event.html" style="font-weight: bold; font-size:larger;">Create Event</a></li>
                <br>
                <li><img src="static/pics/423483-200.png"><a href="main.html">Home</a></li>
                <li><img src="static/pics/fire-2.png"><a href="lit.html">Lit</a></li>
                <br>
                <p1>HUBS</p1>
                <br>
                <br>
                <li><img src="static/pics/game.png"><a href="games.html">Games</a></li>
                <li><img src="static/pics/ball.png"><a href="sports.html">Sports</a></li>
                <li><img src="static/pics/bit.png"><a href="crypto.html">Crypto</a></li>
                <li><img src="static/pics/car.png"><a href="cars.html">Cars</a></li>
                <li><img src="static/pics/health.png"><a href="health.html">Health</a></li>
                <li><img src="static/pics/meental.png"><a href="mental.html">Mental</a></li>
            </ul>
        </nav>
    </header>
        <main>
        <div class="posts">
            {% for post in posts %}
                <div class="posty">
                    <h2>{{ post.paragraph_name }}</h2>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.paragraph_name }}" class="image">
                    {% endif %}
                    <p>{{ post.text_content }}</p>
                    <span>Posted by {{ post.user.username }} on {{ post.created_at }}</span>
                    <div class="post-interactions">
                        <button class="like-button" onclick="likePost({{ post.id }})">
                            <img src="static/pics/heart.png" class="zbs">(<span id="likes-count-{{ post.id }}">{{ post.liked_by.count }}</span>)
                        </button>
                        <span class="comment-icon" onclick="toggleCommentSection('commentSection{{ post.id }}')">&#128172;</span>
                    </div>
                    <div id="commentSection{{ post.id }}" class="comment-section" style="display:none;">
                        <form method="post" action="{% url 'comment_post' post.id %}">
                            {% csrf_token %}
                            <textarea name="text" placeholder="Leave a comment" style="height: 44px; width: 461px;"></textarea>
                            <button type="submit" style="background-color: #9ac51f;    text-decoration: none;
                            color: white;
                            text-transform: uppercase;
                            font-weight: bold;     padding: 8px 20px; 
                            border-radius: 25px;     border-color: #f0f0f0; padding-top: -10px; cursor: pointer;">Post Comment</button>
                        </form>
                        <div class="comments">
                            {% for comment in post.comment_set.all %}
                                <div class="comment">
                                    <span>{{ comment.user.username }}:</span> {{ comment.text }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h1>Events</h1>
        <div class="posty">
            {% for event in events %}
                <div class="event">
                    <a href="{% url 'event_detail' event.id %}">{{ event.event_name }}</a>
                    <img src="{{ event.image.url }}" alt="{{ event.event_name }}" class="image">
                    <p>{{ event.description }}</p>
                    <p>Event Date: {{ event.event_date }}</p>
                    <p>Remaining Time: <span id="timer-{{ event.id }}"></span></p>
                    <p>Participants: <span id="participants-count-{{ event.id }}">{{ event.participants.count }}</span></p>
                    <button id="join-button-{{ event.id }}" onclick="toggleEventParticipation({{ event.id }})">
                        {% if user in event.participants.all %}
                            Leave Event
                        {% else %}
                            Join Event
                        {% endif %}
                    </button>
                </div>
            {% endfor %}
        </div>
    </main>
    <script>
        function toggleCommentSection(commentSectionId) {
            var commentSection = document.getElementById(commentSectionId);
            commentSection.style.display = (commentSection.style.display === 'none') ? 'block' : 'none';
        }

        function likePost(postId) {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(`/like_post/${postId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById(`likes-count-${postId}`).innerText = data.likes_count;
                } else {
                    alert('An error occurred.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred.');
            });
        }

        function joinEvent(eventId) {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(`/join_event/${eventId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const button = document.querySelector(`.join-button[onclick="joinEvent(${eventId})"]`);
                    button.innerText = data.joined ? 'Leave Event' : 'Join Event';
                    document.getElementById(`participants-count-${eventId}`).innerText = data.participants_count;
                } else {
                    alert('An error occurred.');
                }
            })

        }

            function toggleEventParticipation(eventId) {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            fetch(`/event/${eventId}/join/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById(`participants-count-${eventId}`).innerText = data.participants_count;
                    const joinButton = document.getElementById(`join-button-${eventId}`);
                    joinButton.innerText = data.joined ? "Leave Event" : "Join Event";
                } else {
                    alert("An error occurred while trying to join/leave the event.");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while trying to join/leave the event.');
            });
        }

        function startTimers(events) {
            events.forEach(event => {
                const eventDate = new Date(event.event_date).getTime();
                setInterval(() => {
                    const now = new Date().getTime();
                    const distance = eventDate - now;

                    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    document.getElementById(`timer-${event.id}`).innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

                    if (distance < 0) {
                        document.getElementById(`timer-${event.id}`).innerHTML = "Event has started";
                    }
                }, 1000);
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
            const eventsData = JSON.parse(document.getElementById('events-data').textContent);
            startTimers(eventsData);
        });
    </script>
</body>
</html>