<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/style2.css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="static/pics/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="static/pics/favicon.png">

    <title>Spot</title>
</head>
<body>
    <header>
        <div class="top-bar">
            <img src="static/pics/logo.png" alt="Spot Logo" class="logo">
            <input type="search" placeholder="Search hubs" class="search-bar">
            <a href="index.html" class="log">Login</a>
            <a href="index.html" class="log">Sign Up</a>
        </div>
        <nav class="nav">
            <ul class="nav-links">
                <li><a href="post.html" style="font-weight: bold; font-size:larger;">Create post</a></li>
                <br>
                <li><img src="static/pics/423483-200.png"><a href="main.html">Home</a></li>
                <li><img src="static/pics/fire-2.png"><a href="hub2.html">Lit</a></li>
                <br>
                <p1>HUBS</p1>
                <br>
                <br>
                <li><img src="static/pics/game.png"><a href="games.html">Games</a></li>
                <li><img src="static/pics/ball.png"><a href="sports.html">Sports</a></li>
                <li><img src="static/pics/bit.png"><a href="crypto.html">Crypto</a></li>
                <li><img src="static/pics/car.png"><a href="cars.html">Cars</a></li>
                <li><img src="static/pics/health.png"><a href="health.html">Health</a></li>
                <li><img src="static/pics/meental.png"><a href="mental.html">Mental</a></li>
            </ul>
        </nav>
    </header>

   </body>